@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;1,700&family=Urbanist:wght@500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quattrocento Sans', sans-serif;
}

img {
    width: 100%;
}

main {
    padding-block: 100px;
    width: 90%;
    max-width: 700px;
    margin: auto;
    font-size: larger;
    line-height: 1.4;
}

main > * {
    margin-bottom: 15px;
}

figcaption {
    font-size: smaller;
    text-align: center;
}

blockquote {
    width: 70%;
    margin: auto;
    font-style: italic;
    color: gray;
}

.tags {
    margin-top: 30px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.tags > button {
    padding: 8px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.clap-comment {
    display: flex;
    gap: 50px;
    margin-top: 30px;
}

.clap-comment > * {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}